<div class="bg-login h-100 d-flex flex-column justify-content-center ">
    <mat-card class="container pt-5 pb-5">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>Iniciar Sesion</mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            <form  [formGroup]="formlogin">
                <!-- <img src="../../../assets/img/Costco-Logo.png" width="100%"> -->
                <div class="d-flex flex-column align-items-center w-100 ">
                    <div class="w-75">
                        <mat-form-field class="w-100 " appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput type="email" formControlName="email" name="email" id="email" required>
                            <div *ngIf="formlogin.get('email')?.invalid && formlogin.get('email')?.errors && (formlogin.get('email')?.dirty || formlogin.get('email')?.touched)">
                                <small class="text-danger" *ngIf="formlogin.get('email')?.hasError('email')">
                                    Formato incorrecto.
                                </small>
                                <small class="text-danger" *ngIf="formlogin.get('email')?.hasError('required')">
                                    El campo es requerido.
                                </small>
                                <small class="text-danger" *ngIf="formlogin.get('email')?.hasError('minlength')">
                                    el tamaño minimo del campo es de 3 caracteres.
                                </small>
                                <small class="text-danger" *ngIf="formlogin.get('email')?.hasError('maxlength')">
                                    el tamaño maximo del campo es de 32 caracteres.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="w-75">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password" formControlName="password" name="password" id="pass" required>
                            <div *ngIf="formlogin.get('password')?.invalid && formlogin.get('password')?.errors && (formlogin.get('password')?.dirty || formlogin.get('password')?.touched)">
                                <small class="text-danger" *ngIf="formlogin.get('password')?.hasError('required')">
                                    El campo es requerido
                                </small>
                                <small class="text-danger" *ngIf="formlogin.get('password')?.hasError('minlength')">
                                    El tamaño minimo del campo es de 6 carcteres.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    
                    
                </div>
                <!-- <div class="margin-20">
                    <a href="#" [routerLink]="['/recover-password']" routerLinkActive="router-link-active" >
                        <span>Olvidaste tu contraseña?</span>
                    </a>
                </div> -->
            </form>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center">
           
            <button mat-raised-button color="primary"  (click)="submit()">Entrar</button>  <!-- [disabled]="!formlogin.valid" -->
        </mat-card-actions>
    </mat-card>
</div>